/* Carico 19.1 */
.carico_1 {
    background-color: #ffb74d !important;
}
/* Carico 19.2 */
.carico_2 {
    background-color: #9ccc65 !important;
}

/* Carico 19.3 */
.carico_3 {
    background-color: #40c4ff !important;
}
/* Nessun carico assegnato */
.carico_ {
    background-color: #2abbda !important;
}

/* Stato in progress */
.stato_3 {
    border: 2px solid black;
    /* border-radius: 20%; */
}
/* Stato in progress */
.stato_4 {
    background-color: #7e7e7e !important;
}
/* Celle weekend */
.timeline_weekend {
    background-color: #ffe9e9;
}
/* Testo deentro evento */
.txt_ev {
    /* background: red; */
    text-align: center;
    /* display: block; */
    margin-left: -10px;
    color: white;
}
