/* Carico 19.1 */
.carico_1 {
    background-color: #ffb74d !important;
}
/* Carico 19.2 */
.carico_2 {
    background-color: #9ccc65 !important;
}

/* Carico 19.3 */
.carico_3 {
    background-color: #40c4ff !important;
}
/* Nessun carico assegnato */
.carico_ {
    background-color: #2abbda !important;
}
/* Celle weekend */
.timeline_weekend {
    background-color: #ffe9e9;
}
/* Testo deentro evento */
.txt_ev {
    /* background: red; */
    text-align: center;
    /* display: block; */
    margin-left: -10px;
    color: white;
}
/* Lista selezione in lighbox */
.dhx_cal_light select {
    background-color: #f9f9f9;
    font-size: small;
    /* Questo ha impatto ache su lista selezione data */
    /* width: 99% !important; */
    height: calc(100% - 10px);
}

/* Selezione ora in lighbox, nascondo */
.dhx_lightbox_time_select {
    display: none;
}
/* Casella data in lightbox */
.dhx_readonly {
    font-size: medium !important;
    width: 150px;
}

/* area campi lighbox */
.dhx_cal_light_wide .dhx_cal_larea {
    padding-right: 10px;
}
/* Lighbox selezione data, trattino tra le 2 date */
.dhx_section_time.dhx_lightbox_minical > span {
    /* Sposto verso sinistra perchè l'ora è nascosta */
    /* padding-right: 50px; */
    display: none;
}

/* Nascondo la selezione della data di fine */
.dhx_section_time.dhx_lightbox_minical > input:nth-child(4) {
    display: none;
}