/* Celle titolo risorse */
.timeline_item_cell {
    width: 30%;
    font-size: 12px;
    text-align: center;
}

/* Separatore celle risorse */
.timeline_item_separator {
    background-color: #cecece;
    width: 1px;
    height: 100% !important;
}
/* Cella risora */
.dhx_matrix_scell {
    text-align: center;
}

/* Righe risorse */
.timeline_item_separator,
.timeline_item_cell {
    vertical-align: top;
    height: 100% !important;
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
}

/* Handler per resize del task */
.dhx_event_resize {
    background: none !important;
}

/* Lista selezione in lighbox */
.dhx_cal_light select {
    background-color: #f9f9f9;
    font-size: small;
    /* Questo ha impatto ache su lista selezione data */
    /* width: 99% !important; */
    height: calc(100% - 10px);
}

/* Selezione ora in lighbox, nascondo */
.dhx_lightbox_time_select {
    display: none;
}
/* Casella data in lightbox */
.dhx_readonly {
    font-size: medium !important;
    width: 20%;
}

/* area campi lighbox */
.dhx_cal_light_wide .dhx_cal_larea {
    padding-right: 10px;
}
/* Lighbox selezione data, trattino tra le 2 date */
.dhx_section_time.dhx_lightbox_minical > span {
    /* Sposto verso sinistra perchè l'ora è nascosta */
    /* padding-right: 50px; */
    display: none;
}

/* Nascondo la selezione della data di fine */
.dhx_section_time.dhx_lightbox_minical > input:nth-child(4) {
    display: none;
}
/* Caselle di testo disabilitate in lightbox */
.dhx_cal_ltext textarea.sololettura {
    background: cornsilk;
}

/* Dialog conferma eliminazione evento. Default 19999 non è possibile cliccare i pulsanti */
body > div.dhx_modal_cover {
    z-index: 15;
}

